.card-product-infos {
  p {
    margin-left: 8px;
  }

  span {
    margin-left: 12px;
  }
}

.fa-2xl {
  line-height: 3;
}

.activity-title {
  font-family: $headers-font;
  color: $dark-blue;
  font-weight: bold;
}

.activity-location {
  font-family: $body-font;
  color: $navy-blue;
}
