<div class="ttt">
  <h1> Mailbox</h1>
</div>

<hr class="featurette-divider">



<div class="container d-flex flex-column">
  <h3 class="text-center mt-4"><strong>Your Messages</strong></h3>
  <%  @chatrooms.each do |chatroom| %>
    <div class="requests border border-white p-2 m-2 rounded d-flex bg-white">
      <div class="circle pe-8" style="width:80px; height:80px;"></div>
      <div class="d-flex flex-column ps-3">
        <div><strong> <%= chatroom.id  %></strong></div>
        <div> <%= chatroom.user.username  %></div>
        <div class="pt-2">
          <button class="button"> <strong>Chat</strong></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
