<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div></div>
    <%= link_to "/", class: "navbar-logo" do %>
      <%= image_tag "verse-logo-full-spacing-orange-s.png", class: "custom-logo" %>
    <% end %>
    <div></div>
  </div>
</div>
