<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div></div>
    <%= link_to "/", class: "navbar-logo" do %>
      <%= image_tag "VerSe.png" %>
    <% end %>
    <div></div>
  </div>
</div>
