.btn-go {
  background-color: #FCA311 ;
  color: white;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}

.btn-bck {
  background-color: white ;
  color: #FCA311;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  border-style: solid;
  border-color: #FCA311;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-primary {
  border-radius: 0px 40px 40px 0px;
  background-color: #FCA311;
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}
