.footer-verse {
  position: sticky;
  bottom: 0;
  background-color: #14213D;
  width: 100%;
  height: 65px;
  color: white;

}

.footer-verse .footer-collapse {
  flex-grow: 0;
}

.foot-link {
  text-decoration: none;
  color: white;
}

.footer-nav {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}

.foot_item {
  width: 20%;
}

.logos-dashboard {
  width: 37px;
}

.logos-add-activity{
  width: 50px;
}

.logos-messages {
  width: 40px;
  margin-right: 10px;
}

.logos-home {
  width: 37px;
}

.logos-profile {
  width: 37px;
}
