.navbar-lewagon {
  justify-content: space-between;
  background: #14213D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.custom-logo {
  height: 50px; /* or any desired height */
  padding-top: 5px; /* adjust as needed */
  padding-bottom: 5px; /* adjust as needed */
  /* maintain the aspect ratio: */
  width: auto;
}
